html {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 60px;
  text-align: center;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

html {
  background-color: #00539f;
}


/*
  ブロック要素であるため、ページの中でスペースを占めます。
  ブロック要素は、マージンやその他の余白を開ける値を適用することができます。
*/
body {
  width: 600px;
  margin: 0 auto;
  background-color: #ff9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

/*
  body の上部にひどい隙間があることに気づいたかもしれません。
  これは CSS をまったく適用していなくても、
  ブラウザーが（他のものの中で） h1 要素に既定のスタイルを適用するためです。
  それは悪い考えのように見えるかもしれませんが、
  スタイルのないページにも一定の読みやすさを求めるためのものです。
  隙間をなくすために、 margin: 0; を設定して既定のスタイルを上書きします。  
*/
h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 1px black;
}

/*
  画像はインライン要素です。
  インライン要素にマージンやその他の余白を開ける値を適用することはできません。
  画像にマージンを適用するには、
  display: block; を使用して画像にブロックレベルの動作を指定する必要があります。

  上記の手順は、本体に設定されている幅 (600 ピクセル) よりも小さい画像を
  使用していることを前提としています。
  画像が大きい場合、それは本文をあふれ、ページの残りの部分にはみ出します。
  これを修正するには、
  1) 画像編集ソフトを使用して画像の幅を縮小するか、
  2) CSS を使用して、 width プロパティでより小さな値を <img> 要素に設定し、
  画像の大きさを変更します。
  */
img {
  display: block;
  margin: 0 auto;
}